* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 500px;
    height: 500px;
    border: 2px solid red;
    margin: auto;
    margin-top: 30px;
    position:fixed;
    background-color:#000000cc;

}

.box {
    width: 100px;
    height: 100px;
    background-color: brown;
    color: white;
    position: absolute;
    left: 20px;
    z-index:3;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: aqua;
    color: white;
     position: absolute; 
    left:0;
    top: 0;
    z-index: 2;
}